.intro {
  padding-top: 64px;
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 768px){
  .intro{
    padding-top: 88px;
    width: 93.75%;
  }
}

@media screen and (min-width: 1024px){
  .intro{
    padding: 92px 286px 0 48px;
    width: 67.38%;
  }
}

@media screen and (min-width: 1280px){
  .intro{
    padding: 92px 442px 0 148px;
    max-width: 690px;
  }
}
