.lead__images {
  width: 100%;
  margin-top: 40px;
  padding: 0;
}

@media screen and (min-width: 768px){
  .lead__images {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px){
  .lead__images {
    margin-top: 64px;
  }
}
