.cover__title{
  margin: 33px 16px 16px 16px;
  min-width: 288px;
  min-height: 70px;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px){
  .cover__title{
    margin: 115px 104px 32px 104px;
    min-width: 560px;
    min-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
  }
}

@media screen and (min-width: 1024px){
  .cover__title{
    margin: 195px 232px 32px 232px;
  }
}

@media screen and (min-width: 1280px){
  .cover__title{
    margin: 245px 312px 32px 312px;
  }
}

